* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

body {
    min-height: 100vh;
    background: url('../src/img/sunset.jpeg') center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    padding: 2rem 0;
    background-color: #fff4;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    margin-bottom: 2rem;
}

main {
    width: 80vw;
    max-width: 600px;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

select, input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

button[type="submit"], .editarUsuarioBtn, .eliminarUsuarioBtn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
}

button[type="submit"]:hover, .editarUsuarioBtn:hover, .eliminarUsuarioBtn:hover {
    background-color: #ff5733;
}

#usuariosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#usuariosTable th, #usuariosTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#usuariosTable th {
    background-color: #f2f2f2;
}

#usuariosTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#usuariosTable tbody tr:hover {
    background-color: #ddd;
}
